@page
@model Bmcs.Pages.Game.EditModel

@{
    ViewData[ViewDataConstant.Title] = "試合編集";
}

<h1>試合編集</h1>

<h4>@Model.Game.Team.TeamName</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.GameID" />
            <input type="hidden" asp-for="Game.TimeStamp" />
            <div class="form-group">
                <label asp-for="Game.GameDate" class="control-label"></label>
                <input asp-for="Game.GameDate" class="form-control" />
                <span asp-validation-for="Game.GameDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.GameClass" class="control-label"></label>
                <select asp-for="Game.GameClass" class="form-control" asp-items="Model.GameClassList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Game.OpponentTeamName" class="control-label"></label>
                <input asp-for="Game.OpponentTeamName" class="form-control" />
                <span asp-validation-for="Game.OpponentTeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.StadiumName" class="control-label"></label>
                <input asp-for="Game.StadiumName" class="form-control" />
                <span asp-validation-for="Game.StadiumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.WeatherClass" class="control-label"></label>
                <select asp-for="Game.WeatherClass" class="form-control" asp-items="Model.WeatherClassList"></select>
            </div>
            @if (Model.Game.StatusClass == StatusClass.BeforeGame)
            {
                <div class="form-group">
                    <label asp-for="Game.BatFirstBatSecondClass" class="control-label"></label>
                    <select asp-for="Game.BatFirstBatSecondClass" class="form-control" asp-items="Model.BatFirstBatSecondClassList"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Game.GameInputTypeClass" class="control-label"></label>
                    <select asp-for="Game.GameInputTypeClass" class="form-control" asp-items="Model.GameInputTypeClassList"></select>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Game.BatFirstBatSecondClass" />
                <input type="hidden" asp-for="Game.GameInputTypeClass" />
            }
            <div class="form-group">
                <input type="submit" value="登録" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-teamID="@Model.Game.Team.TeamID">試合一覧</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
