@page
@model IndexModel
@{
    ViewData[ViewDataConstant.Title] = "";
}
<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <h1 class="display-3">
            Bmcs
        </h1>
        <h2 class="display-5">
            Baseball Management Communication System
        </h2>
        <h3 class="display-8">スコア管理SNS</h3>
        <h3 class="display-8">野球とソフトボールの両方に対応</h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserAccount.UserAccountID" class="control-label"></label>
                <input asp-for="UserAccount.UserAccountID" class="form-control" />
                <span asp-validation-for="UserAccount.UserAccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Password" class="control-label"></label>
                <input asp-for="UserAccount.Password" class="form-control" />
                <span asp-validation-for="UserAccount.Password" class="text-danger"></span>
            </div>
            <div class="alert alert-primary" role="alert">
                <span>ユーザID：YGUser</span>
                <span>&nbsp;&nbsp;</span>
                <span>パスワード：1</span>
                <br />
                <span>でサンプルチームにログインできます。</span>
            </div>
            <div class="form-group">
                <input type="submit" value="ログイン" class="btn btn-primary" />
                <a class="btn btn-primary" asp-page="./UserAccount/Create">新しくユーザを作成</a>
            </div>
            <div class="form-group">
                <a class="btn btn-success" asp-page="./Top/Index">ログインせずに体験する</a>
            </div>
        </form>
    </div>
</div>
@*<div class="row">
    <h2>
        無料で使用可能＆ダウンロード不要
    </h2>
    <h2>
        草野球で起こりうる10人以上、リエントリーに対応
    </h2>
</div>*@
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
