@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.AspNetCore.Http;

<h1>@ViewData["Title"]</h1>
<h2>@HttpContext.Session.GetString("a")</h2>
<p>Use this page to detail your site's privacy policy.</p>
