
h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.3rem;
}

hr {
    margin-top: 0.1rem;
}

.display-5 {
    font-size: 3.0rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-7 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.0;
}

.display-8 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.0;
}

.display-9 {
    font-size: 1.0rem;
    font-weight: 300;
    line-height: 1.0;
}

/*.header {
    background-color: #0288d1;
    color: #ffffff;
}*/

.table td, .table th {
    white-space: nowrap;
}

.table td {
    vertical-align: middle;
}

.box {
    border: 2px solid #1b6ec2;
    margin-bottom:10px;
}

    .box .box-title {
        background: #1b6ec2;
        color: #FFF;
        text-align: center;
        margin: 0;
    }

    .box .box-inner {
        padding: 10px 10px 10px 10px;
    }



.column-fix-left {
    position: sticky;
    left: 0;
    background-color: rgba(255,255,255,1);
}

.column-fix-right {
    position: sticky;
    right: 0;
    background-color: rgba(255,255,255,1);
}

.column-sort-select {
    background-color: rgba(0,0,0,.075);
}

textarea.form-control {
    height: 200px;
}

.select-message {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.help {
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    margin-bottom: 0.7rem;
    margin-left: 0.7rem;
}

.help-ul > li{
    margin-bottom: 1.0rem;
}

.landing-title {
    color: #000000; /*文字色*/
    padding: 0.5em 0; /*上下の余白*/
    border-top: solid 3px #364e96; /*上線*/
    border-bottom: solid 3px #364e96; /*下線*/
    font-weight: bold;
}

.landing-sub-title {
    /*線の種類（二重線）太さ 色*/
    border-bottom: double 5px #364e96;
    color: #364e96; /*文字色*/
    font-weight: bold;
    font-size: 1.6rem;
}

.landing-font {
    font-size: 1.6rem;
    font-weight: bold;
}

.landing-itemization-ul {
    color: #000000;
    border: double 5px #364e96; /*二重線 太さ 色*/
    /*background: #f1f8ff;*/
    padding: 0.5em 0.5em 0.5em 2em;
    height: 400px;
}

.landing-itemization-ul-li {
    /*line-height: 1.5;*/
    padding: 0.5em 0;
}

.landing-itemization-title-font {
    color: #364e96; /*文字色*/
    font-size: 1.4rem;
    font-weight: bold;
}

.landing-itemization-title-font-warning {
    color: #ff6a6a; /*文字色*/
    font-size: 1.4rem;
    font-weight: bold;
}

.landing-itemization-sentence-font {
    font-size: 1.2rem;
    font-weight: bold;
}

.landing-sub-title-warning {
    /*線の種類（二重線）太さ 色*/
    border-bottom: double 5px #ff6a6a;
    color: #ff6a6a; /*文字色*/
    font-weight: bold;
    font-size: 1.6rem;
}

.landing-itemization-ul-warning {
    color: #000000;
    border: double 5px #ff6a6a; /*二重線 太さ 色*/
    /*background: #f1f8ff;*/
    padding: 0.5em 0.5em 0.5em 2em;
}

.landing-itemization-ul-question {
    color: #000000;
    border: double 5px #364e96; /*二重線 太さ 色*/
    /*background: #f1f8ff;*/
    padding: 0.5em 0.5em 0.5em 2em;
}