
h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.3rem;
}

hr {
    margin-top: 0.1rem;
}

/*.header {
    background-color: #0288d1;
    color: #ffffff;
}*/

.table td, .table th {
    white-space: nowrap;
}

.table td {
    vertical-align: middle;
}

.box {
    border: 2px solid #1b6ec2;
    margin-bottom:10px;
}

    .box .box-title {
        background: #1b6ec2;
        color: #FFF;
        text-align: center;
        margin: 0;
    }

    .box .box-inner {
        padding: 10px 10px 10px 10px;
    }



.column-fix-left {
    position: sticky;
    left: 0;
    background-color: rgba(255,255,255,1);
}

.column-fix-right {
    position: sticky;
    right: 0;
    background-color: rgba(255,255,255,1);
}

.column-sort-select {
    background-color: rgba(0,0,0,.075);
}

textarea.form-control {
    height: 200px;
}

.select-message {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.help {
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    margin-bottom: 0.7rem;
    margin-left: 0.7rem;
}

.help-ul > li{
    margin-bottom: 1.0rem;
}