@page
@model Bmcs.Pages.Inquiry.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inquiry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Inquiry.InquiryID" />
            <div class="form-group">
                <label asp-for="Inquiry.EmailAddress" class="control-label"></label>
                <input asp-for="Inquiry.EmailAddress" class="form-control" />
                <span asp-validation-for="Inquiry.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquiry.InquiryTitle" class="control-label"></label>
                <input asp-for="Inquiry.InquiryTitle" class="form-control" />
                <span asp-validation-for="Inquiry.InquiryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquiry.InquiryDetail" class="control-label"></label>
                <textarea asp-for="Inquiry.InquiryDetail" class="form-control"></textarea>
                <span asp-validation-for="Inquiry.InquiryDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquiry.EntryUserID" class="control-label"></label>
                <input asp-for="Inquiry.EntryUserID" class="form-control" />
                <span asp-validation-for="Inquiry.EntryUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquiry.EntryDatetime" class="control-label"></label>
                <input asp-for="Inquiry.EntryDatetime" class="form-control" />
                <span asp-validation-for="Inquiry.EntryDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquiry.UpdateUserID" class="control-label"></label>
                <input asp-for="Inquiry.UpdateUserID" class="form-control" />
                <span asp-validation-for="Inquiry.UpdateUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquiry.UpdateDatetime" class="control-label"></label>
                <input asp-for="Inquiry.UpdateDatetime" class="form-control" />
                <span asp-validation-for="Inquiry.UpdateDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
