<img src="~/img/help.png" alt="ヘルプ" class="help" data-toggle="modal" data-target="#help" />

<!-- Modal -->
<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="help-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="help-title">@Model.SystemAdmin.MessageTitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Raw(Model.SystemAdmin.MessageDetail)
                @*<p>公開設定のチーム一覧を確認することができます。<br>
                    気になるチームの情報を確認してみましょう。
                    </p>
        <ul class="help-ul">
            <li>
                試合<br>
                該当チームの試合一覧へ遷移します。<br>
            </li>
            <li>
                成績<br>
              　該当チームの成績ページへ遷移します。<br>
                </li>
            <li>
                詳細<br>
                該当チームの詳細情報ページへ遷移します。<br>
                </li>
            <li>
                メッセージを送る<br>
                該当チームへダイレクト(非公開)メッセージを送る画面に遷移します。<br>
            </li>
        </ul>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>