<img src="~/img/help.png" alt="ヘルプ" class="help" data-toggle="modal" data-target="#help" />

<!-- Modal -->
<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="help-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="help-title">@Model.SystemAdmin.MessageTitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Raw(Model.SystemAdmin.MessageDetail)
                @*<p>
                    チームに所属する監督や選手を登録します。
                    「メッセージを送る」からダイレクト(非公開)メッセージを送る画面に遷移します。
                </p>
                <ul class="help-ul">
                    <li>
                        背番号<br>
                        任意の背番号を入力します。<br>
                    </li>
                    <li>
                        メンバー名(必須)<br>
                        任意のメンバー名を入力します。<br>
                    </li>
                    <li>
                        メンバー区分<br>
                        メンバーの区分を選択します。<br>
                        システム内での区別はなく、監督やコーチでも試合に出場は可能です。<br>
                    </li>
                    <li>
                        投<br>
                        利き投げを選択します。<br>
                        システム内での区別はありません。<br>
                    </li>
                    <li>
                        打<br>
                        打席を選択します。<br>
                        システム内での区別はありません。<br>
                    </li>
                    <li>
                        ポジション<br>
                        ポジションを選択します。<br>
                        システム内での区別はなく、登録していないポジション以外でも出場は可能です。<br>
                    </li>
                    <li>
                        メッセージ<br>
                        自由項目です。<br>
                        メンバーの紹介文などを入力してみましょう。<br>
                    </li>
                </ul>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>