@page
@model Bmcs.Pages.Member.EditModel

@{
    ViewData[ViewDataConstant.Title] = "メンバー情報変更";
}

<h1>@ViewData[ViewDataConstant.Title]</h1>

<h4>@Model.Member.Team.TeamName</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Member.MemberID" />
            <input type="hidden" asp-for="Member.TimeStamp" />
            <div class="form-group">
                <label asp-for="Member.UniformNumber" class="control-label"></label>
                <input asp-for="Member.UniformNumber" class="form-control" />
                <span asp-validation-for="Member.UniformNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.MemberName" class="control-label"></label>
                <input asp-for="Member.MemberName" class="form-control" />
                <span asp-validation-for="Member.MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.MemberClass" class="control-label"></label>
                <select asp-for="Member.MemberClass" class="form-control" asp-items="Model.MemberClassList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Member.ThrowClass" class="control-label"></label>
                <select asp-for="Member.ThrowClass" class="form-control" asp-items="Model.ThrowClassList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Member.BatClass" class="control-label"></label>
                <select asp-for="Member.BatClass" class="form-control" asp-items="Model.BatClassList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Member.PositionGroupClass" class="control-label"></label>
                <select asp-for="Member.PositionGroupClass" class="form-control" asp-items="Model.PositionGroupClassList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Member.MessageDetail" class="control-label"></label>
                <textarea asp-for="Member.MessageDetail" class="form-control"></textarea>
                <span asp-validation-for="Member.MessageDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="登録" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-page="Index" asp-route-teamID="@Model.Member.Team.TeamID">戻る</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
